body {
    max-width: 100vw;
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #FFF0F5; /* Fundo suave em rosa bem claro */
}

header {
    background-color: #DB7093; /* Rosa vibrante */
    color: #FFFFFF;
    text-align: center;
    margin: 0 auto;
    padding: 16px;
}

main {
    background-color: #FFE4E1; /* Rosa claro para o container principal */
    color: #4A2E35;
    margin: 0 auto;
    padding: 16px;

    display: flex;
    flex-wrap: wrap;
}

article {
    display: flex;
    background-color: #FFFFFF;
    border: 1px solid #DB7093;
    border-radius: 8px;

    margin: 16px;
    gap: 16px;
    padding: 16px;

    flex: 1 1 25%;
    flex-direction: column;
    align-items: center;
    text-align: center;
    justify-content: center;
}

img {
    width: 80px;
    height: 80px;
    object-fit: cover;
    border-radius: 4px;
}

.artigo-autor {
    font-weight: bold;
    color: #C71585;
}

.artigo-fonte {
    font-size: 0.85em;
    color: #777;
}

button {
    background-color: #FFF0F5;
    border: 1px solid #DB7093;
    border-radius: 12px;
    padding: 6px 12px;
    cursor: pointer;
    margin: 4px;
}

button:hover {
    background-color: #FFE4E1;
}
